---
layout: post
title: Creating Custom Directives
date:   2016-04-28 11:28:00
tags: Angular JavaScript
subclass: 'post tag-Angular tag-JavaScript'
categories: 'JavaScript'
navigation: True
logo: 'assets/images/ghost.png'
---
<p>A lot of Angular codes haven't still migrated to Angular 2, So it makes sense to refresh a bit on how to make custom directives in Angular 1. Before I show How to write custom directives, I will try to answer What are directives, and Why do we need custom directives.</p>

<h3 id="heading3">What are Directives?</h3>

<p>Directives are JavaScript functions that manipulate and add behaviors to HTML DOM elements. AngularJS extends HTML by providing directives that add functionaliaty to your markup and allow you to create powerful dynamic templates. Angular comes with numerous built in directives such as ngModel, ngController, ngApp, ngShow, ngIf, and ngRepeat. Angular also let's us build our own custom directives. Custom directives can be an element directive, an attribute directive, a Class directive, and even a comment directive.</p>

<h3 id="heading3">Why Do We Need a Custom Directives?</h3>

<p>Custom directives are ideal to refactor a block of code that will be reusable in multiple spots in our application. Writing custom directives would be on overkill for a reusable code that needs to render data from its controller (or its parent controller), or if that won't even need a controller. It can easly be separated out into a template and loaded to where its needed using ngInclude.</p>
<p>We need to write Custom directives for a fragment that will be needed to connect to more than one controller, or it needs to be rendered differently in different parameters. Custom directives are also ideal if there will be DOM manipulation on the reusable part.
<p>
<h3 id="heading3">How to Write a Custom Directive</h3>

{% highlight html %}
<form name="signupForm" novalidate>
  <input name="username"type="text" ng-model="username">
  <input name="email" type="email" ng-model="email">
  <input name="password" placeholder="Password" ng-model="pwd">
  <input type="submit" value='Submit'>
</form>
{% endhighlight %}
<p>We can also easly validate a proper email format by specifying the type of the input field. To show an error message when invalid email is entered, We just add an element with ng-directive that is given a value of email.</p>
{% highlight html %}
<form name="signupForm" novalidate>
  <input name="email" type="email" ng-model="email" required>
  <div ng-messages="signupForm.email.$error" ng-show="signupForm.email.$touched">
    <p ng-message="required">Email is required</p>
    <p ng-message="email">Please enter valid email address</p>
  </div>
</form>
{% endhighlight %}

<p>Utilizing ngMessages reduces the amount of code and logic that was used to showcase error messages. Here is the complete simple form that uses ngMessages to validate forms:</p>

<p data-height="368" data-theme-id="dark" data-slug-hash="KrYkLr" data-default-tab="result" data-user="nassir" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/nassir/pen/KrYkLr/">Angular Form Validation</a> by nassir (<a href="http://codepen.io/nassir">@nassir</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>